html {
    background-color: #562627;
}

@font-face {
    font-family: "Game Of Thrones";
    src: url("../font/Game\ of\ Thrones.ttf");
}

#mainHeader {
    font-family: "Game of Thrones";
    padding-top: 2%;
    color:#d69209e6; 
}
#mainHeader h1{
    font-size:60px;
}

#monday,
#tuesday,
#wednesday,
#thursday,
#friday,
#saturday,
#sunday {
    background-color: #773030;
    color:#d69209e6;
    font-family: "Game of Thrones";
    font-size:30px;
}
p{
    font-size:20px;
    padding-top:2%;
}


#generateGif {
    font-family: "Game of Thrones";
}

#mondayBtn,
#tuesdayBtn,
#wednesdayBtn,
#thursdayBtn,
#fridayBtn,
#saturdayBtn,
#sundayBtn{
    background-color:#562627;
    color:#b17e16;
    font-family:"Game of Thrones"
}

#mondayBtn:hover,
#tuesdayBtn:hover,
#wednesdayBtn:hover,
#thursdayBtn:hover,
#fridayBtn:hover,
#saturdayBtn:hover,
#sundayBtn:hover {
    background-color: rgb(99, 4, 4);
}