html {
    background-color: #562627;
}


p {
    font-size: 20px;
    padding-top: 2%;
}

@font-face {
    font-family: "Game Of Thrones";
    src: url("../font/Game\ of\ Thrones.ttf");
}

img{
    max-width:20%;
    max-height:20%;
    padding-left:2%;
  
}

#mainHeader {
    font-family: "Game of Thrones";
    padding-top: 2%;
    color: #d69209e6;
}

#timeHeader {
    font-family: "Game of Thrones";
    font-size: 25px;
    padding-bottom: 2%;
    color: #d69209e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainHeader h1 {
    font-size: 60px;
}

#monday,
#tuesday,
#wednesday,
#thursday,
#friday,
#saturday,
#sunday {
    background-color: #773030;
    color: #d69209e6;
    font-family: "Game of Thrones";
    font-size: 30px;
}

#mondayBtn,
#tuesdayBtn,
#wednesdayBtn,
#thursdayBtn,
#fridayBtn,
#saturdayBtn,
#sundayBtn,
#resetBtn {
    background-color: #562627;
    color: #b17e16;
    font-family: "Game of Thrones"
}

#mondayBtn:hover,
#tuesdayBtn:hover,
#wednesdayBtn:hover,
#thursdayBtn:hover,
#fridayBtn:hover,
#saturdayBtn:hover,
#sundayBtn:hover,
#resetBtn:hover {
    background-color: rgb(99, 4, 4);
}

#generateGif {
    font-family: "Game of Thrones";
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resetBtn {
    background-color: #3d0202;
}



